.pokemonCard {
    background-color: #d42828;
    width: 250px;
    padding: 5px;
    list-style: none;
    border-radius: 10px;
}
.pokemonCard:hover{
    box-shadow: 0 0 5px 5px rgb(77, 76, 76);
}

.title {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 3px;
    background-color: rgb(238, 236, 236);
    color: black;
    border-radius: 10px;
}

.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: rgb(238, 236, 236);
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.image_container> img {
    width: 90%;
    height: 90%;
}
.frontimg{
    z-index: 10;
    position: absolute;
}
.backimg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.types_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    justify-content: center;
    margin: 10px;
    color: black;
}
.singletypescontainer{
    display: flex;    
    gap: 15px;
}
.stats_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
}
.progress-bar_pokecard {
    width: 200px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }
 .progress-bar_pokecard>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    position: absolute;
    width: 100%;
 }
 .progress_pokecard {
     height: 100%;
     background:  linear-gradient(90deg, rgba(224,236,20,1) 21%, rgba(0,224,255,1) 81%);
     border-radius: 15px;
     transition: width 0.3s ease-in-out;
 }
 .statNameDiv,
 .statpropDiv{
    font-size: 12px;
 }
@media (min-width: 320px) and (max-width: 766px) {
    .pokemonCard {
        width: 200px;
    }
    .progress-bar_pokecard {
        width: 170px;
    }
}