.settingModal{
    border: 5px solid #FE1936;
    border-radius: 10px;
    width: 250px;
    height: 140px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    bottom: 4px;
    right: 90px;
    z-index: 25;
}

select {
    cursor: pointer;
} 

.settingBtn{
    position: fixed;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    bottom: 40px;
    right: 10px;
    z-index: 10;
    border: 5px solid #FE1936;
    font-weight: bold;
    cursor: pointer;
}
.settingBtn:active{
    background-color: lightgray;
}
.switchContainer{
    border-radius: 15px;
    background-color: #FE1936;
    width: 50px;
    height: 25px;
    position: relative;
}
.switchInside{
    border-radius: 50%;
    background-color: rgb(34, 34, 34);
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0px;
    cursor: pointer;
}
@media (min-width: 320px) and (max-width: 766px) {
    .settingModal{
        width: 210px;
    }
    .settingBtn{
        width: 60px;
        height: 60px;
        font-size: 10px;
    }
}