.footerContainer {
    /* bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    padding-top: 5px; */

     height: 5rem;
    width: 100vw;
    background-color: rgb(17, 16, 16);
    color: lightgray;
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 5px;
}

.Image {
    width: 22px;
    height: 22px;
}

.imagesContainer{
    display: flex;
    gap: 5px;
}

.footerContainer>p {
    text-align: center;
    font-size: small;
    line-height: 30px;
}

@media (min-width: 320px) and (max-width: 576px) {
    .footerContainer {
        height: 4%;
        padding-top: 5px;
        font-size: 5px;
    }
    .footerContainer >p {
        font-size: 10px;
        line-height: 20px;
    }
    .Image {
        width: 15px;
        height: 15px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .footerContainer {
        height: 4%;
        padding-top: 5px;
    }
    .Image {
        width: 18px;
        height: 18px;
    }
}