body{
    margin-top: -15px;
}
.pokedexIDcard{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.imgCotainer{
    width: 30%;
    height: 100%;
    background-color: #D93F3F;
    border-right: 2px black solid;
}
.imgCotainer > img{
    width: 90%;
    height: 90%;
}
.allInfoContainer{
    width: 70%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:start;
    gap: 10px;
}
.detailPokemonName{
    text-align: center;
    width: 100%;
    color: black;
    /* font-family:'Times New Roman', Times, serif; */
    font-weight: bolder;
    background-color: antiquewhite;
}
.types,
.abilities,
.movements,
.stats{
    display: flex;
    flex-wrap: wrap;
}
.typeTitle,
.abilityTitle,
.statTitle,
.moveTitle{
    color: white;
    background-color:#D93F3F;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
}
.singleType,
.singleAbility,
.singleMove,
.singleStat{
    color: white;
    background-color: gray;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
}
@media (min-width: 320px) and (max-width: 578px) {
    .allInfoContainer{
        font-size: 6px;
        padding-top: 5px;
        margin-bottom: 5px;
        width: 70%;
        gap: 0px;
    }
    .detailPokemonName{
        margin-top: 100px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .movements{
        margin-bottom: 10px;
        font-size: 7px;
    }
}
@media (min-width: 579px) and (max-width: 768px) {
    .allInfoContainer{
        font-size: 7px;
        gap: 0px;
    }
    .detailPokemonName{
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 40px;
    }
    .movements{
        margin-bottom: 20px;
        font-size: 10px;
    }

}
@media (min-width: 769px) and (max-width: 1060px) {
    .allInfoContainer{
        font-size: 10px;
    }
}